@{
    ViewData["Title"] = "Calendar";
}
@using UHCalendarUI.Models

@model PrincipalViewModel

@{
    if (Model == null)
    {
        Console.WriteLine("The Model is Null");
    }
}
@{
    string currentCalString = null;
    if (this.Model != null)
    {
        currentCalString = this.Model.CurrentCallendars.Aggregate($"", (current, currentCallendar) => current + (currentCallendar.Name + ","));
        currentCalString = currentCalString.TrimEnd(',');
    }
}
<style type="text/css">.return { }</style>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Calendar</h2>
        <ol class="breadcrumb">
            @*            <li>*@
            @*                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>*@
            @*            </li>*@
            <li>
                @(Model?.CalendarHomeName ?? "CalendarHome")
            </li>
            <li class="active">
                <strong>@(currentCalString ?? "CalendarCollection")</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Calendar Collections</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id='external-events'>
                        <ul class="folder-list" style="padding: 0">
                            @if (this.Model != null)
                            {
                                foreach (var calcollection in this.Model.CalendarCollections.OrderBy(c => c.Name))
                                {
                                    <li>
                                        <a href="">
                                            <i class="@(this.Model.CurrentCallendars.Contains(calcollection) ? "fa fa-folder-open" : "fa fa-folder")"></i> @calcollection.Name</a>
                                    </li>
                                }
                            }

                        </ul>
                        @*                        <p>Drag a event and drop into callendar.</p>*@
                        @*                        @if (this.Model != null)*@
                        @*                        {*@
                        @*                            foreach (var calcollection in this.Model.CalendarCollections)*@
                        @*                            {*@
                        @*                                <div class='external-event navy-bg'>@calcollection.Name</div>*@
                        @*                            }*@
                        @*                        }*@

                        @*                        <div class='external-event navy-bg'>Go to shop and buy some products.</div>*@
                        @*                        <div class='external-event navy-bg'>Check the new CI from Corporation.</div>*@
                        @*                        <div class='external-event navy-bg'>Send documents to John.</div>*@
                        @*                        <div class='external-event navy-bg'>Phone to Sandra.</div>*@@*                        <div class='external-event navy-bg'>Chat with Michael.</div>*@
                        @*                        <p class="m-t">*@
                        @*                            <input type='checkbox' id='drop-remove' class="i-checks" checked/> <label for='drop-remove'>remove after drop</label>*@
                        @*                        </p>*@
                    </div>
                </div>
            </div>
            @*            <div class="ibox float-e-margins">*@
            @*                <div class="ibox-content">*@
            @*                    <h2>FullCalendar</h2> is a jQuery plugin that provides a full-sized, drag & drop calendar like the one below. It uses AJAX to fetch events on-the-fly for each month and is*@
            @*                    easily configured to use your own feed format (an extension is provided for Google Calendar).*@
            @*                    <p>*@
            @*                        <a href="http://arshaw.com/fullcalendar/" target="_blank">FullCalendar documentation</a>*@
            @*                    </p>*@
            @*                </div>*@
            @*            </div>*@
        </div>
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Striped Table </h5>
                    <div class="ibox-tools">
                        @*                        <a class="collapse-link">*@
                        @*                            <i class="fa fa-chevron-up"></i>*@
                        @*                        </a>*@
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Add Calendar</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/iCheck/custom.css"/>
        <link rel="stylesheet" href="~/lib_bower/fullcalendar/dist/fullcalendar.css"/>
    </environment>
}

@section Scripts {
    <environment names="Development">
        <script src="~/lib_bower/moment/moment.js"></script>
        <script src="~/lib/iCheck/icheck.min.js"></script>
        <script src="~/lib_bower/fullcalendar/dist/fullcalendar.min.js"></script>
        <script src="~/lib_bower/jquery-ui/jquery-ui.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib_bower/moment/min/moment.min.js"></script>
        <script src="~/lib/iCheck/icheck.min.js"></script>
        <script src="~/lib_bower/fullcalendar/fullcalendar.min.js"></script>
        <script src="~/lib_bower/jquery-ui/jquery-ui.js"></script>
    </environment>


    <script type="text/javascript">
        $(document).ready(function() {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            /* initialize the external events
             -----------------------------------------------------------------*/


            $('#external-events div.external-event').each(function() {

                // store data so the calendar knows to render an event upon drop
                $(this).data('event',
                    {
                        title: $.trim($(this).text()), // use the element's text as the event title
                        stick: true // maintain when user navigates (see docs on the renderEvent method)
                    });

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 1111999,
                    revert: true, // will cause the event to go back to its
                    revertDuration: 0 //  original position after the drag
                });

            });


            /* initialize the calendar
             -----------------------------------------------------------------*/
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            var eventFeed;

            $.ajax({

//                xhrFields: {
//                    withCredentials: true
//                },
                headers: {
                    'Authorization': 'Basic ' + btoa('@Model.Email:@Model.Password')
                },
                crossDomain: true,
                type: "GET",
                url: "http://192.168.137.1:5003/api/easycalendar/collections/groups/public/C111/",
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function(data) {
                    // var events = [];
                    //var docd = doc.d;

                    eventFeed = data;
//                    var toParse = data[0];
//                    eventFeed = $.parseJSON(toParse);
                    console.log(eventFeed);


                    console.log(eventFeed);

                    $('#calendar').fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        dayClick: function(date, jsEvent, view) {

                            alert('Clicked on: ' + date.format());

                            alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

                            alert('Current view: ' + view.name);

                            // change the day's background color just for fun
                            $(this).css('background-color', 'red');

                        },
                        eventClick: function(calEvent, jsEvent, view) {

                            alert('Event: ' + calEvent.title);
                            alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                            alert('View: ' + view.name);

                            // change the border color just for fun
                            $(this).css('border-color', 'red');

                        },

                        editable: false, //this allows move events inside the calendar by drag and drop
                        droppable: false, // this allows things to be dropped onto the calendar

                        events: eventFeed //Just pass obj to events
                    });

                },
                error: function(xhr, status, error) {
                    alert(xhr.responseText);
                }
            });

            
//            $('#calendar').fullCalendar({
//                header: {
//                    left: 'prev,next today',
//                    center: 'title',
//                    right: 'month,agendaWeek,agendaDay'
//                },
//                editable: false, //this allows move events inside the calendar by drag and drop
//                droppable: false, // this allows things to be dropped onto the calendar
//                drop: function() {
//                    // is the "remove after drop" checkbox checked?
//                    if ($('#drop-remove').is(':checked')) {
//                        // if so, remove the element from the "Draggable Events" list
//                        $(this).remove();
//                    }
//                },
//                events: "http://localhost:5003/api/easycalendar/collections/groups/public/C111/"

//            });


        });
    </script>
}